* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #1e90ff;
    --dark-blue: #1568bb;
    --gray: #cfcfcf;
    --red: #eb4d4d;
    --dark-red: #a83a3a;
    --shadow: ;
}

section {
    height: 100vh;
    width: 100%;
}

.center-my-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: black;
}
a:hover {
    color: var(--dark-blue);
}

form,
.contact-list-wrapper {
    padding: 1.5em 3em;
    box-shadow: var(--shadow);
    border: 1px solid var(--gray);
    border-radius: 5px;
}

.error {
    font-size: 0.7em;
    color: var(--red);
    height: 1rem;
}

.or-link {
    width: 100%;
    text-align: center;
}

.logout-btn-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1em;
}
#logout-btn {
    background-color: var(--red);
    color: #ffffff;
    border: none;
}
#logout-btn:hover {
    background-color: var(--dark-red);
}

.contact-list-wrapper {
    width: 80%;
    margin: 0 auto;
    margin-top: 5em;
    position: relative;
}

.add-btn-wrapper {
    padding: 1em;
    position: absolute;
    top: 0;
    right: 0;
}
#add-btn {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    box-shadow: var(--shadow);
}

#contact-table {
    width: 80%;
    margin: 0 auto;
    box-shadow: var(--shadow);
    border: 1px solid var(--gray);
    border-radius: 5px;
    padding: 0.5em 1em;
}
#table-header-row {
    border: 1px solid var(--gray);
    border-radius: 5px;
    padding: 0.5em 1em;
}
.table-row-item {
    width: 25%;
    text-align: left;
    padding: 0.5em;
}

.profile-pic {
    height: 100px;
    width: 100px;
}
